{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to TDEE and BMI Calculator</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}?v=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMmQ2V3s9kq2mxt99ns/TI+5IG5C1H2hjL8oP2" crossorigin="anonymous">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="container">
          <nav>
            <ul class="nav-links">
              <li>
                <a href="/"><i class="fas fa-home"></i> Trang Chủ</a>
              </li>
              <li>
                <a href="/bmi"><i class="fas fa-weight"></i> Tính BMI</a>
              </li>
              <li>
                <a href="/tdee"><i class="fas fa-calculator"></i> Tính TDEE</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <main>
        <section class="intro">
          <div class="container">
            <h2>Chào mừng tới với...</h2>
            <div class="info-container">
              <div class="bmi-info">
                <h3>BMI là gì?</h3>
                <p>Chỉ số Khối cơ thể (BMI) là một phép tính đơn giản được sử dụng để đánh giá xem một người có trọng lượng cơ thể khỏe mạnh so với chiều cao của họ hay không. Nó được định nghĩa là khối lượng cơ thể của cá nhân chia cho bình phương chiều cao của họ. BMI từ 18.5 đến 24.9 được coi là khỏe mạnh, trong khi dưới 18.5 là thiếu cân, và trên 24.9 là thừa cân.</p>
                <p>Hiểu biết về BMI của bạn có thể giúp hướng dẫn bạn trong việc quản lý cân nặng và cải thiện sức khỏe tổng thể. Bạn có thể dễ dàng tính toán BMI của mình bằng cách sử dụng máy tính của chúng tôi.</p>
                <a href="/bmi" class="btn">Tính toán BMI</a>
              </div>
              <div class="tdee-info">
                <h3>TDEE là gì?</h3>
                <p>Chi tiêu Năng lượng Hàng ngày Tổng cộng (TDEE) là tổng số calo bạn đốt cháy trong một ngày. Nó bao gồm tất cả các hoạt động, từ các chức năng cơ bản như thở đến các chuyển động phức tạp như tập thể dục. Biết TDEE của bạn có thể giúp bạn đạt được mục tiêu quản lý cân nặng, bất kể bạn đang tìm cách giảm, duy trì hoặc tăng cân.</p>
                <p>Tính toán TDEE xem xét nhiều yếu tố, bao gồm Tỷ lệ Chuyển hóa Cơ bản (BMR), điều này chiếm phần calo đốt cháy khi nghỉ ngơi, và mức độ hoạt động của bạn. Máy tính của chúng tôi cung cấp gợi ý bữa ăn cá nhân hóa dựa trên TDEE của bạn để giúp bạn đạt được mục tiêu dinh dưỡng.</p>
                <a href="/tdee" class="btn">Tính toán TDEE</a>
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer>
        <div class="container">
          <p>&copy; 2024 Trịnh Quý Thiện, Trần Viết Thịnh, Đinh Đức Dũng.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
